@model IEnumerable<RentC.WebUI.Models.DAL.Customer>

@{
    ViewBag.Title = "Customer List";
}

<h2 class="h2">Customer List</h2>

<p>
    @Html.ActionLink("Register", "Register", null, new { @class = "badge badge-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }, new { @class = "badge badge-primary"}) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID }, new { @class = "badge badge-danger" })
    </td>
</tr>
}

</table>
