@model RentC.WebUI.VIewModels.CouponRegisterEditVM

@{
    ViewBag.Title = "Coupon Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container text-left">
        <h4>Coupon Registration</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-group mb-3">
            @Html.LabelFor(model => model.CouponCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CouponCode, new { htmlAttributes = new { @class = "form-control", placeholder = "XXXXXXX" } })
                @Html.ValidationMessageFor(model => model.CouponCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="pl-24">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-outline-warning" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
